@{
    ViewData["Title"] = "Home Page";
    
}
@{
    <link href="~/lib/bootstrap/dist/css/bounce.css" rel="stylesheet" />
}


<div class="text-center">
    <h1 class="display-4"><strong>Welcome to Project UMA</strong></h1>

</div>
