@{
    ViewData["Title"] = "Home Page";
    
}
@{
    <link href="~/lib/bootstrap/dist/css/bounce.css" rel="stylesheet" />
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Project UMA</title>
    <style type="text/css">
        body {
            background-image: url('@Url.Content("~/Content/buildingpic.jpg")');
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4"><strong>Welcome to Project UMA</strong></h1>
    </div>
</body>
</html>
