table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
/* Headers */
th:nth-child(odd) {
    background-color: blue;
    color: white;
}
th:nth-child(even) {
    background-color: yellow;
    color: black;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: black;
}

th {
    background-color: #f2f2f2;
    color: black;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}
